body {
    /* font-family: 'Baloo Bhai', cursive; */
    font-family: 'Rubik', sans-serif;
}

.bg-container {
    background-color: #ffffff;
}

.bg-background {
    background-color: #9ADBE8;
}

.btn-navy {
    background-color: #000080;
    color: #ffffff;
}

.btn-navy:hover {
    background-color: #6495ED;
    color: #F0FFFF;
}

span.select-item {
    padding-left: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0em !important;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 0%;
    min-height: 0%;
 }